src/backend/libs/efiling-cso-client/src/main/resources/wsdl/AccountFacade.wsdl

<wsdl:definitions name="AccountFacade" targetNamespace="http://accounts.csows.ag.gov.bc.ca/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://accounts.csows.ag.gov.bc.ca/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://accounts.csows.ag.gov.bc.ca/" xmlns:tns="http://accounts.csows.ag.gov.bc.ca/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="createAccount" type="tns:createAccount"/>
            <xs:element name="createAccountResponse" type="tns:createAccountResponse"/>
            <xs:element name="createEntitlement" type="tns:createEntitlement"/>
            <xs:element name="createEntitlementResponse" type="tns:createEntitlementResponse"/>
            <xs:element name="createEntitlements" type="tns:createEntitlements"/>
            <xs:element name="createEntitlementsResponse" type="tns:createEntitlementsResponse"/>
            <xs:element name="createExternalAgency" type="tns:createExternalAgency"/>
            <xs:element name="createExternalAgencyResponse" type="tns:createExternalAgencyResponse"/>
            <xs:element name="createLinkedBCRegAccountClient" type="tns:createLinkedBCRegAccountClient"/>
            <xs:element name="createLinkedBCRegAccountClientResponse" type="tns:createLinkedBCRegAccountClientResponse"/>
            <xs:element name="createProfile" type="tns:createProfile"/>
            <xs:element name="createProfileResponse" type="tns:createProfileResponse"/>
            <xs:element name="createProfileWithPreference" type="tns:createProfileWithPreference"/>
            <xs:element name="createProfileWithPreferenceResponse" type="tns:createProfileWithPreferenceResponse"/>
            <xs:element name="findAccountsByBCOLAccountNo" type="tns:findAccountsByBCOLAccountNo"/>
            <xs:element name="findAccountsByBCOLAccountNoResponse" type="tns:findAccountsByBCOLAccountNoResponse"/>
            <xs:element name="findAccountsByBCRegAccountNo" type="tns:findAccountsByBCRegAccountNo"/>
            <xs:element name="findAccountsByBCRegAccountNoResponse" type="tns:findAccountsByBCRegAccountNoResponse"/>
            <xs:element name="findAccountsByGuid" type="tns:findAccountsByGuid"/>
            <xs:element name="findAccountsByGuidResponse" type="tns:findAccountsByGuidResponse"/>
            <xs:element name="findAccountsByName" type="tns:findAccountsByName"/>
            <xs:element name="findAccountsByNameResponse" type="tns:findAccountsByNameResponse"/>
            <xs:element name="findAgencyFilterEntitlements" type="tns:findAgencyFilterEntitlements"/>
            <xs:element name="findAgencyFilterEntitlementsResponse" type="tns:findAgencyFilterEntitlementsResponse"/>
            <xs:element name="findAllExternalAgencies" type="tns:findAllExternalAgencies"/>
            <xs:element name="findAllExternalAgenciesResponse" type="tns:findAllExternalAgenciesResponse"/>
            <xs:element name="findBCOnlineProfiles" type="tns:findBCOnlineProfiles"/>
            <xs:element name="findBCOnlineProfilesResponse" type="tns:findBCOnlineProfilesResponse"/>
            <xs:element name="findBCRegistryProfile" type="tns:findBCRegistryProfile"/>
            <xs:element name="findBCRegistryProfileResponse" type="tns:findBCRegistryProfileResponse"/>
            <xs:element name="findClientsByNotifyFlag" type="tns:findClientsByNotifyFlag"/>
            <xs:element name="findClientsByNotifyFlagResponse" type="tns:findClientsByNotifyFlagResponse"/>
            <xs:element name="findEntitlementsByAgency" type="tns:findEntitlementsByAgency"/>
            <xs:element name="findEntitlementsByAgencyResponse" type="tns:findEntitlementsByAgencyResponse"/>
            <xs:element name="findExternalAgencyByAgencyId" type="tns:findExternalAgencyByAgencyId"/>
            <xs:element name="findExternalAgencyByAgencyIdResponse" type="tns:findExternalAgencyByAgencyIdResponse"/>
            <xs:element name="findExternalAgencyByAgencyIdentifierCd" type="tns:findExternalAgencyByAgencyIdentifierCd"/>
            <xs:element name="findExternalAgencyByAgencyIdentifierCdResponse" type="tns:findExternalAgencyByAgencyIdentifierCdResponse"/>
            <xs:element name="findProfile" type="tns:findProfile"/>
            <xs:element name="findProfileResponse" type="tns:findProfileResponse"/>
            <xs:element name="findProfiles" type="tns:findProfiles"/>
            <xs:element name="findProfilesByAnyName" type="tns:findProfilesByAnyName"/>
            <xs:element name="findProfilesByAnyNameResponse" type="tns:findProfilesByAnyNameResponse"/>
            <xs:element name="findProfilesByLastName" type="tns:findProfilesByLastName"/>
            <xs:element name="findProfilesByLastNameResponse" type="tns:findProfilesByLastNameResponse"/>
            <xs:element name="findProfilesByNotifyFlag" type="tns:findProfilesByNotifyFlag"/>
            <xs:element name="findProfilesByNotifyFlagResponse" type="tns:findProfilesByNotifyFlagResponse"/>
            <xs:element name="findProfilesForAccount" type="tns:findProfilesForAccount"/>
            <xs:element name="findProfilesForAccountResponse" type="tns:findProfilesForAccountResponse"/>
            <xs:element name="findProfilesForClient" type="tns:findProfilesForClient"/>
            <xs:element name="findProfilesForClientResponse" type="tns:findProfilesForClientResponse"/>
            <xs:element name="findProfilesResponse" type="tns:findProfilesResponse"/>
            <xs:element name="getAccount" type="tns:getAccount"/>
            <xs:element name="getAccountResponse" type="tns:getAccountResponse"/>
            <xs:element name="getClient" type="tns:getClient"/>
            <xs:element name="getClientByGUID" type="tns:getClientByGUID"/>
            <xs:element name="getClientByGUIDResponse" type="tns:getClientByGUIDResponse"/>
            <xs:element name="getClientResponse" type="tns:getClientResponse"/>
            <xs:element name="getClientsByRole" type="tns:getClientsByRole"/>
            <xs:element name="getClientsByRoleResponse" type="tns:getClientsByRoleResponse"/>
            <xs:element name="getNextAccountInternalKey" type="tns:getNextAccountInternalKey"/>
            <xs:element name="getNextAccountInternalKeyResponse" type="tns:getNextAccountInternalKeyResponse"/>
            <xs:element name="getNextClientInternalKey" type="tns:getNextClientInternalKey"/>
            <xs:element name="getNextClientInternalKeyResponse" type="tns:getNextClientInternalKeyResponse"/>
            <xs:element name="getNextOrderNumber" type="tns:getNextOrderNumber"/>
            <xs:element name="getNextOrderNumberResponse" type="tns:getNextOrderNumberResponse"/>
            <xs:element name="updateAccount" type="tns:updateAccount"/>
            <xs:element name="updateAccountResponse" type="tns:updateAccountResponse"/>
            <xs:element name="updateAgencyActiveYn" type="tns:updateAgencyActiveYn"/>
            <xs:element name="updateAgencyActiveYnResponse" type="tns:updateAgencyActiveYnResponse"/>
            <xs:element name="updateClient" type="tns:updateClient"/>
            <xs:element name="updateClientResponse" type="tns:updateClientResponse"/>
            <xs:element name="updateEntitlements" type="tns:updateEntitlements"/>
            <xs:element name="updateEntitlementsResponse" type="tns:updateEntitlementsResponse"/>
            <xs:element name="updateProfile" type="tns:updateProfile"/>
            <xs:element name="updateProfileResponse" type="tns:updateProfileResponse"/>
            <xs:complexType name="findAccountsByBCOLAccountNo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findAccountsByBCOLAccountNoResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:account"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="account">
                <xs:sequence>
                    <xs:element minOccurs="0" name="accountId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="accountManager" type="tns:client"/>
                    <xs:element minOccurs="0" name="accountNm" type="xs:string"/>
                    <xs:element minOccurs="0" name="accountPrefixTxt" type="xs:string"/>
                    <xs:element minOccurs="0" name="accountStatusCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="addressLine1Txt" type="xs:string"/>
                    <xs:element minOccurs="0" name="addressLine2Txt" type="xs:string"/>
                    <xs:element minOccurs="0" name="addressLine3Txt" type="xs:string"/>
                    <xs:element minOccurs="0" name="agenId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="agencyIdCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="agencyNm" type="xs:string"/>
                    <xs:element minOccurs="0" name="authenticatedAccountGuid" type="xs:string"/>
                    <xs:element minOccurs="0" name="bcOnlineAccountNo" type="xs:string"/>
                    <xs:element minOccurs="0" name="bcRegAccountNo" type="xs:string"/>
                    <xs:element minOccurs="0" name="cityTxt" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="coaEfilingEntitlements" nillable="true" type="tns:efilingEntitlementAssignment"/>
                    <xs:element minOccurs="0" name="ctryDesc" type="xs:string"/>
                    <xs:element minOccurs="0" name="ctryId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="emailTxt" type="xs:string"/>
                    <xs:element minOccurs="0" name="entDtm" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="entDtmText" type="xs:string"/>
                    <xs:element minOccurs="0" name="entUserId" type="xs:string"/>
                    <xs:element minOccurs="0" name="feeExemptYnBoolean" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="feeExemptYnText" type="xs:string"/>
                    <xs:element minOccurs="0" name="industryCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="internalAccountNo" type="xs:string"/>
                    <xs:element minOccurs="0" name="otherProvinceTxt" type="xs:string"/>
                    <xs:element minOccurs="0" name="phoneNo" type="xs:string"/>
                    <xs:element minOccurs="0" name="postalCodeTxt" type="xs:string"/>
                    <xs:element minOccurs="0" name="provSeqNo" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="provShortDesc" type="xs:string"/>
                    <xs:element minOccurs="0" name="registeredCreditCardYnBoolean" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="registeredCreditCardYnText" type="xs:string"/>
                    <xs:element minOccurs="0" name="updDtm" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="updDtmText" type="xs:string"/>
                    <xs:element minOccurs="0" name="updUserId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="client">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authenticatedClientGuid" type="xs:string"/>
                    <xs:element minOccurs="0" name="authoritativePartyId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="bcOnlineClientNo" type="xs:string"/>
                    <xs:element minOccurs="0" name="clientId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="clientPrefixTxt" type="xs:string"/>
                    <xs:element minOccurs="0" name="clientStatusCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="entDtm" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="entDtmText" type="xs:string"/>
                    <xs:element minOccurs="0" name="entUserId" type="xs:string"/>
                    <xs:element minOccurs="0" name="givenNm" type="xs:string"/>
                    <xs:element minOccurs="0" name="internalClientNo" type="xs:string"/>
                    <xs:element minOccurs="0" name="middleNm" type="xs:string"/>
                    <xs:element minOccurs="0" name="registeredCreditCardYnBoolean" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="registeredCreditCardYnText" type="xs:string"/>
                    <xs:element minOccurs="0" name="surnameNm" type="xs:string"/>
                    <xs:element minOccurs="0" name="updDtm" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="updDtmText" type="xs:string"/>
                    <xs:element minOccurs="0" name="updUserId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="efilingEntitlementAssignment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="accountId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="divisionCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="levelCd" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findAllExternalAgencies">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="findAllExternalAgenciesResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:externalAgency"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="externalAgency">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activeYn" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="addressTxt" type="xs:string"/>
                    <xs:element minOccurs="0" name="agenId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="agencyIdentifierCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="agencyNm" type="xs:string"/>
                    <xs:element minOccurs="0" name="agencyRoleCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="cityCtryId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="citySeqNo" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="entDtm" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="entUserId" type="xs:string"/>
                    <xs:element minOccurs="0" name="hasEntitlementYn" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findAccountsByBCRegAccountNo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findAccountsByBCRegAccountNoResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:account"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getClientsByRole">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="arg1" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getClientsByRoleResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:client"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getNextClientInternalKey">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getNextClientInternalKeyResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateAccount">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:account"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateAccountResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:account"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findExternalAgencyByAgencyIdentifierCd">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findExternalAgencyByAgencyIdentifierCdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:externalAgency"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findAccountsByName">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findAccountsByNameResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:account"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findAccountsByGuid">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findAccountsByGuidResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:account"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateClient">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:client"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateClientResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:client"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createExternalAgency">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:externalAgency"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createExternalAgencyResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:externalAgency"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateProfile">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="clientProfile">
                <xs:sequence>
                    <xs:element minOccurs="0" name="account" type="tns:account"/>
                    <xs:element minOccurs="0" name="accountId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="client" type="tns:client"/>
                    <xs:element minOccurs="0" name="clientId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="clientPreference" type="tns:clientPreference"/>
                    <xs:element minOccurs="0" name="emailTxt" type="xs:string"/>
                    <xs:element minOccurs="0" name="entDtm" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="entUserId" type="xs:string"/>
                    <xs:element minOccurs="0" name="feeExemptYnBoolean" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="feeExemptYnText" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastLoginDtm" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="pendingCounselYn" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="priorBCOnlineAccountNo" type="xs:string"/>
                    <xs:element minOccurs="0" name="profileStatusCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="profileStatusCdDisplayName" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="tns:roleAssignment"/>
                    <xs:element minOccurs="0" name="serviceConditionsAcceptDtm" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="updDtm" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="updUserId" type="xs:string"/>
                    <xs:element minOccurs="0" name="useAccountCreditCardYnBoolean" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="useAccountCreditCardYnText" type="xs:string"/>
                    <xs:element minOccurs="0" name="verifiedCounselYn" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="clientPreference">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clientId" type="xs:decimal"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="preferenceNames" nillable="true" type="xs:anyType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="preferenceValues" nillable="true" type="xs:anyType"/>
                    <xs:element name="preferences">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element minOccurs="0" name="key" type="xs:anyType"/>
                                            <xs:element minOccurs="0" name="value" type="xs:anyType"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="roleAssignment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="accountId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="activeYn" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="clientId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="entDtm" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="entUserId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registeredClientRoleCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="updDtm" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="updUserId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateProfileResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateAgencyActiveYn">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="arg1" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="arg2" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg3" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateAgencyActiveYnResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:externalAgency"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findEntitlementsByAgency">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="arg1" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findEntitlementsByAgencyResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:entitlement"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitlement">
                <xs:sequence>
                    <xs:element minOccurs="0" name="actCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="agenId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="agenRoleCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="civilDataElementNm" type="xs:string"/>
                    <xs:element minOccurs="0" name="civilSearchFunctionCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="documentJurisdictionRuleId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="entDtm" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="entUserId" type="xs:string"/>
                    <xs:element minOccurs="0" name="entitlementId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="parentEntitlementId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="updDtm" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="updUserId" type="xs:string"/>
                    <xs:element minOccurs="0" name="viewImageYn" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findBCRegistryProfile">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg1" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findBCRegistryProfileResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findProfile">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="arg1" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findProfileResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findExternalAgencyByAgencyId">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findExternalAgencyByAgencyIdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:externalAgency"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAccount">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAccountResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:account"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createProfileWithPreference">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:account"/>
                    <xs:element minOccurs="0" name="arg1" type="tns:client"/>
                    <xs:element minOccurs="0" name="arg2" type="tns:clientPreference"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="tns:roleAssignment"/>
                    <xs:element minOccurs="0" name="arg4" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="arg5" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="arg6" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg7" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createProfileWithPreferenceResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createAccount">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:account"/>
                    <xs:element minOccurs="0" name="arg1" type="tns:client"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:roleAssignment"/>
                    <xs:element minOccurs="0" name="arg3" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="arg4" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="arg5" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg6" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createAccountResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getClient">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getClientResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:client"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findProfilesForAccount">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findProfilesForAccountResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findProfilesByLastName">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findProfilesByLastNameResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createLinkedBCRegAccountClient">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:account"/>
                    <xs:element minOccurs="0" name="arg1" type="tns:client"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:roleAssignment"/>
                    <xs:element minOccurs="0" name="arg3" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="arg4" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="arg5" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg6" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createLinkedBCRegAccountClientResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createEntitlements">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:entitlement"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:entitlement"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createEntitlementsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:entitlement"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findBCOnlineProfiles">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findBCOnlineProfilesResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createProfile">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:account"/>
                    <xs:element minOccurs="0" name="arg1" type="tns:client"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:roleAssignment"/>
                    <xs:element minOccurs="0" name="arg3" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="arg4" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="arg5" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg6" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createProfileResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findProfilesByAnyName">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg1" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg2" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findProfilesByAnyNameResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findProfilesByNotifyFlag">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="findProfilesByNotifyFlagResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findProfilesForClient">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findProfilesForClientResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findProfiles">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findProfilesResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:clientProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getClientByGUID">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getClientByGUIDResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:client"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getNextAccountInternalKey">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getNextAccountInternalKeyResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getNextOrderNumber">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getNextOrderNumberResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateEntitlements">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:entitlement"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:entitlement"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:entitlement"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="tns:entitlement"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateEntitlementsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:entitlement"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findAgencyFilterEntitlements">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findAgencyFilterEntitlementsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:filterEntitlement"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="filterEntitlement">
                <xs:sequence>
                    <xs:element minOccurs="0" name="agenId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="agenRoleCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="civilDataElementNm" type="xs:string"/>
                    <xs:element minOccurs="0" name="civilSearchFunctionCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="courtClassCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="courtLevelCd" type="xs:string"/>
                    <xs:element minOccurs="0" name="documentJurisdictionRuleId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="entitlementId" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="parentEntitlementId" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findClientsByNotifyFlag">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="findClientsByNotifyFlagResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:client"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createEntitlement">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:entitlement"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createEntitlementResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:entitlement"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="NestedEjbException" type="tns:NestedEjbException"/>
            <xs:complexType name="NestedEjbException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getNextClientInternalKeyResponse">
        <wsdl:part element="tns:getNextClientInternalKeyResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findExternalAgencyByAgencyIdResponse">
        <wsdl:part element="tns:findExternalAgencyByAgencyIdResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNextAccountInternalKeyResponse">
        <wsdl:part element="tns:getNextAccountInternalKeyResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAccountsByBCRegAccountNo">
        <wsdl:part element="tns:findAccountsByBCRegAccountNo" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAccountsByBCRegAccountNoResponse">
        <wsdl:part element="tns:findAccountsByBCRegAccountNoResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateAccount">
        <wsdl:part element="tns:updateAccount" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findExternalAgencyByAgencyIdentifierCd">
        <wsdl:part element="tns:findExternalAgencyByAgencyIdentifierCd" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNextOrderNumberResponse">
        <wsdl:part element="tns:getNextOrderNumberResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createExternalAgency">
        <wsdl:part element="tns:createExternalAgency" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEntitlementsResponse">
        <wsdl:part element="tns:createEntitlementsResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfilesByLastNameResponse">
        <wsdl:part element="tns:findProfilesByLastNameResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAllExternalAgenciesResponse">
        <wsdl:part element="tns:findAllExternalAgenciesResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findBCRegistryProfile">
        <wsdl:part element="tns:findBCRegistryProfile" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAccountsByNameResponse">
        <wsdl:part element="tns:findAccountsByNameResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateAgencyActiveYnResponse">
        <wsdl:part element="tns:updateAgencyActiveYnResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findExternalAgencyByAgencyId">
        <wsdl:part element="tns:findExternalAgencyByAgencyId" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfilesResponse">
        <wsdl:part element="tns:findProfilesResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfilesByNotifyFlagResponse">
        <wsdl:part element="tns:findProfilesByNotifyFlagResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfilesForAccountResponse">
        <wsdl:part element="tns:findProfilesForAccountResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createAccount">
        <wsdl:part element="tns:createAccount" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClientsByRoleResponse">
        <wsdl:part element="tns:getClientsByRoleResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAccountsByGuidResponse">
        <wsdl:part element="tns:findAccountsByGuidResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEntitlementResponse">
        <wsdl:part element="tns:createEntitlementResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createLinkedBCRegAccountClient">
        <wsdl:part element="tns:createLinkedBCRegAccountClient" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEntitlements">
        <wsdl:part element="tns:createEntitlements" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findBCOnlineProfiles">
        <wsdl:part element="tns:findBCOnlineProfiles" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createExternalAgencyResponse">
        <wsdl:part element="tns:createExternalAgencyResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findClientsByNotifyFlagResponse">
        <wsdl:part element="tns:findClientsByNotifyFlagResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="NestedEjbException">
        <wsdl:part element="tns:NestedEjbException" name="NestedEjbException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfilesByAnyName">
        <wsdl:part element="tns:findProfilesByAnyName" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfilesForClient">
        <wsdl:part element="tns:findProfilesForClient" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfiles">
        <wsdl:part element="tns:findProfiles" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClientByGUID">
        <wsdl:part element="tns:getClientByGUID" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNextAccountInternalKey">
        <wsdl:part element="tns:getNextAccountInternalKey" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNextOrderNumber">
        <wsdl:part element="tns:getNextOrderNumber" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateEntitlements">
        <wsdl:part element="tns:updateEntitlements" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAccountsByBCOLAccountNoResponse">
        <wsdl:part element="tns:findAccountsByBCOLAccountNoResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEntitlement">
        <wsdl:part element="tns:createEntitlement" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAccountsByBCOLAccountNo">
        <wsdl:part element="tns:findAccountsByBCOLAccountNo" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findBCRegistryProfileResponse">
        <wsdl:part element="tns:findBCRegistryProfileResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAllExternalAgencies">
        <wsdl:part element="tns:findAllExternalAgencies" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClientsByRole">
        <wsdl:part element="tns:getClientsByRole" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNextClientInternalKey">
        <wsdl:part element="tns:getNextClientInternalKey" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAccountsByName">
        <wsdl:part element="tns:findAccountsByName" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAccountsByGuid">
        <wsdl:part element="tns:findAccountsByGuid" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateClient">
        <wsdl:part element="tns:updateClient" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfilesForClientResponse">
        <wsdl:part element="tns:findProfilesForClientResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateProfile">
        <wsdl:part element="tns:updateProfile" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateClientResponse">
        <wsdl:part element="tns:updateClientResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateAgencyActiveYn">
        <wsdl:part element="tns:updateAgencyActiveYn" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findEntitlementsByAgency">
        <wsdl:part element="tns:findEntitlementsByAgency" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAgencyFilterEntitlementsResponse">
        <wsdl:part element="tns:findAgencyFilterEntitlementsResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfile">
        <wsdl:part element="tns:findProfile" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateProfileResponse">
        <wsdl:part element="tns:updateProfileResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAccount">
        <wsdl:part element="tns:getAccount" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findBCOnlineProfilesResponse">
        <wsdl:part element="tns:findBCOnlineProfilesResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createProfileWithPreference">
        <wsdl:part element="tns:createProfileWithPreference" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClientByGUIDResponse">
        <wsdl:part element="tns:getClientByGUIDResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClient">
        <wsdl:part element="tns:getClient" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createProfileWithPreferenceResponse">
        <wsdl:part element="tns:createProfileWithPreferenceResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfilesForAccount">
        <wsdl:part element="tns:findProfilesForAccount" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfilesByLastName">
        <wsdl:part element="tns:findProfilesByLastName" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findEntitlementsByAgencyResponse">
        <wsdl:part element="tns:findEntitlementsByAgencyResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createProfileResponse">
        <wsdl:part element="tns:createProfileResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateAccountResponse">
        <wsdl:part element="tns:updateAccountResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createAccountResponse">
        <wsdl:part element="tns:createAccountResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfileResponse">
        <wsdl:part element="tns:findProfileResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createProfile">
        <wsdl:part element="tns:createProfile" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfilesByNotifyFlag">
        <wsdl:part element="tns:findProfilesByNotifyFlag" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findExternalAgencyByAgencyIdentifierCdResponse">
        <wsdl:part element="tns:findExternalAgencyByAgencyIdentifierCdResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClientResponse">
        <wsdl:part element="tns:getClientResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAccountResponse">
        <wsdl:part element="tns:getAccountResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateEntitlementsResponse">
        <wsdl:part element="tns:updateEntitlementsResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findProfilesByAnyNameResponse">
        <wsdl:part element="tns:findProfilesByAnyNameResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAgencyFilterEntitlements">
        <wsdl:part element="tns:findAgencyFilterEntitlements" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findClientsByNotifyFlag">
        <wsdl:part element="tns:findClientsByNotifyFlag" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createLinkedBCRegAccountClientResponse">
        <wsdl:part element="tns:createLinkedBCRegAccountClientResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AccountFacadeBean">
        <wsdl:operation name="findAccountsByBCOLAccountNo">
            <wsdl:input message="tns:findAccountsByBCOLAccountNo" name="findAccountsByBCOLAccountNo"></wsdl:input>
            <wsdl:output message="tns:findAccountsByBCOLAccountNoResponse" name="findAccountsByBCOLAccountNoResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findAllExternalAgencies">
            <wsdl:input message="tns:findAllExternalAgencies" name="findAllExternalAgencies"></wsdl:input>
            <wsdl:output message="tns:findAllExternalAgenciesResponse" name="findAllExternalAgenciesResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findAccountsByBCRegAccountNo">
            <wsdl:input message="tns:findAccountsByBCRegAccountNo" name="findAccountsByBCRegAccountNo"></wsdl:input>
            <wsdl:output message="tns:findAccountsByBCRegAccountNoResponse" name="findAccountsByBCRegAccountNoResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClientsByRole">
            <wsdl:input message="tns:getClientsByRole" name="getClientsByRole"></wsdl:input>
            <wsdl:output message="tns:getClientsByRoleResponse" name="getClientsByRoleResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNextClientInternalKey">
            <wsdl:input message="tns:getNextClientInternalKey" name="getNextClientInternalKey"></wsdl:input>
            <wsdl:output message="tns:getNextClientInternalKeyResponse" name="getNextClientInternalKeyResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAccount">
            <wsdl:input message="tns:updateAccount" name="updateAccount"></wsdl:input>
            <wsdl:output message="tns:updateAccountResponse" name="updateAccountResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findExternalAgencyByAgencyIdentifierCd">
            <wsdl:input message="tns:findExternalAgencyByAgencyIdentifierCd" name="findExternalAgencyByAgencyIdentifierCd"></wsdl:input>
            <wsdl:output message="tns:findExternalAgencyByAgencyIdentifierCdResponse" name="findExternalAgencyByAgencyIdentifierCdResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findAccountsByName">
            <wsdl:input message="tns:findAccountsByName" name="findAccountsByName"></wsdl:input>
            <wsdl:output message="tns:findAccountsByNameResponse" name="findAccountsByNameResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findAccountsByGuid">
            <wsdl:input message="tns:findAccountsByGuid" name="findAccountsByGuid"></wsdl:input>
            <wsdl:output message="tns:findAccountsByGuidResponse" name="findAccountsByGuidResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateClient">
            <wsdl:input message="tns:updateClient" name="updateClient"></wsdl:input>
            <wsdl:output message="tns:updateClientResponse" name="updateClientResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createExternalAgency">
            <wsdl:input message="tns:createExternalAgency" name="createExternalAgency"></wsdl:input>
            <wsdl:output message="tns:createExternalAgencyResponse" name="createExternalAgencyResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateProfile">
            <wsdl:input message="tns:updateProfile" name="updateProfile"></wsdl:input>
            <wsdl:output message="tns:updateProfileResponse" name="updateProfileResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAgencyActiveYn">
            <wsdl:input message="tns:updateAgencyActiveYn" name="updateAgencyActiveYn"></wsdl:input>
            <wsdl:output message="tns:updateAgencyActiveYnResponse" name="updateAgencyActiveYnResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findEntitlementsByAgency">
            <wsdl:input message="tns:findEntitlementsByAgency" name="findEntitlementsByAgency"></wsdl:input>
            <wsdl:output message="tns:findEntitlementsByAgencyResponse" name="findEntitlementsByAgencyResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findBCRegistryProfile">
            <wsdl:input message="tns:findBCRegistryProfile" name="findBCRegistryProfile"></wsdl:input>
            <wsdl:output message="tns:findBCRegistryProfileResponse" name="findBCRegistryProfileResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findProfile">
            <wsdl:input message="tns:findProfile" name="findProfile"></wsdl:input>
            <wsdl:output message="tns:findProfileResponse" name="findProfileResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findExternalAgencyByAgencyId">
            <wsdl:input message="tns:findExternalAgencyByAgencyId" name="findExternalAgencyByAgencyId"></wsdl:input>
            <wsdl:output message="tns:findExternalAgencyByAgencyIdResponse" name="findExternalAgencyByAgencyIdResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccount">
            <wsdl:input message="tns:getAccount" name="getAccount"></wsdl:input>
            <wsdl:output message="tns:getAccountResponse" name="getAccountResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createProfileWithPreference">
            <wsdl:input message="tns:createProfileWithPreference" name="createProfileWithPreference"></wsdl:input>
            <wsdl:output message="tns:createProfileWithPreferenceResponse" name="createProfileWithPreferenceResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createAccount">
            <wsdl:input message="tns:createAccount" name="createAccount"></wsdl:input>
            <wsdl:output message="tns:createAccountResponse" name="createAccountResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClient">
            <wsdl:input message="tns:getClient" name="getClient"></wsdl:input>
            <wsdl:output message="tns:getClientResponse" name="getClientResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findProfilesForAccount">
            <wsdl:input message="tns:findProfilesForAccount" name="findProfilesForAccount"></wsdl:input>
            <wsdl:output message="tns:findProfilesForAccountResponse" name="findProfilesForAccountResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findProfilesByLastName">
            <wsdl:input message="tns:findProfilesByLastName" name="findProfilesByLastName"></wsdl:input>
            <wsdl:output message="tns:findProfilesByLastNameResponse" name="findProfilesByLastNameResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createLinkedBCRegAccountClient">
            <wsdl:input message="tns:createLinkedBCRegAccountClient" name="createLinkedBCRegAccountClient"></wsdl:input>
            <wsdl:output message="tns:createLinkedBCRegAccountClientResponse" name="createLinkedBCRegAccountClientResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createEntitlements">
            <wsdl:input message="tns:createEntitlements" name="createEntitlements"></wsdl:input>
            <wsdl:output message="tns:createEntitlementsResponse" name="createEntitlementsResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findBCOnlineProfiles">
            <wsdl:input message="tns:findBCOnlineProfiles" name="findBCOnlineProfiles"></wsdl:input>
            <wsdl:output message="tns:findBCOnlineProfilesResponse" name="findBCOnlineProfilesResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createProfile">
            <wsdl:input message="tns:createProfile" name="createProfile"></wsdl:input>
            <wsdl:output message="tns:createProfileResponse" name="createProfileResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findProfilesByAnyName">
            <wsdl:input message="tns:findProfilesByAnyName" name="findProfilesByAnyName"></wsdl:input>
            <wsdl:output message="tns:findProfilesByAnyNameResponse" name="findProfilesByAnyNameResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findProfilesByNotifyFlag">
            <wsdl:input message="tns:findProfilesByNotifyFlag" name="findProfilesByNotifyFlag"></wsdl:input>
            <wsdl:output message="tns:findProfilesByNotifyFlagResponse" name="findProfilesByNotifyFlagResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findProfilesForClient">
            <wsdl:input message="tns:findProfilesForClient" name="findProfilesForClient"></wsdl:input>
            <wsdl:output message="tns:findProfilesForClientResponse" name="findProfilesForClientResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findProfiles">
            <wsdl:input message="tns:findProfiles" name="findProfiles"></wsdl:input>
            <wsdl:output message="tns:findProfilesResponse" name="findProfilesResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClientByGUID">
            <wsdl:input message="tns:getClientByGUID" name="getClientByGUID"></wsdl:input>
            <wsdl:output message="tns:getClientByGUIDResponse" name="getClientByGUIDResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNextAccountInternalKey">
            <wsdl:input message="tns:getNextAccountInternalKey" name="getNextAccountInternalKey"></wsdl:input>
            <wsdl:output message="tns:getNextAccountInternalKeyResponse" name="getNextAccountInternalKeyResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNextOrderNumber">
            <wsdl:input message="tns:getNextOrderNumber" name="getNextOrderNumber"></wsdl:input>
            <wsdl:output message="tns:getNextOrderNumberResponse" name="getNextOrderNumberResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateEntitlements">
            <wsdl:input message="tns:updateEntitlements" name="updateEntitlements"></wsdl:input>
            <wsdl:output message="tns:updateEntitlementsResponse" name="updateEntitlementsResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findAgencyFilterEntitlements">
            <wsdl:input message="tns:findAgencyFilterEntitlements" name="findAgencyFilterEntitlements"></wsdl:input>
            <wsdl:output message="tns:findAgencyFilterEntitlementsResponse" name="findAgencyFilterEntitlementsResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findClientsByNotifyFlag">
            <wsdl:input message="tns:findClientsByNotifyFlag" name="findClientsByNotifyFlag"></wsdl:input>
            <wsdl:output message="tns:findClientsByNotifyFlagResponse" name="findClientsByNotifyFlagResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEntitlement">
            <wsdl:input message="tns:createEntitlement" name="createEntitlement"></wsdl:input>
            <wsdl:output message="tns:createEntitlementResponse" name="createEntitlementResponse"></wsdl:output>
            <wsdl:fault message="tns:NestedEjbException" name="NestedEjbException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AccountFacadeSoapBinding" type="tns:AccountFacadeBean">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="findAccountsByBCOLAccountNo">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findAccountsByBCOLAccountNo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findAccountsByBCOLAccountNoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findAllExternalAgencies">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findAllExternalAgencies">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findAllExternalAgenciesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClientsByRole">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getClientsByRole">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getClientsByRoleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findAccountsByBCRegAccountNo">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findAccountsByBCRegAccountNo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findAccountsByBCRegAccountNoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAccount">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateAccount">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateAccountResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNextClientInternalKey">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getNextClientInternalKey">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getNextClientInternalKeyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findExternalAgencyByAgencyIdentifierCd">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findExternalAgencyByAgencyIdentifierCd">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findExternalAgencyByAgencyIdentifierCdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findAccountsByName">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findAccountsByName">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findAccountsByNameResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findAccountsByGuid">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findAccountsByGuid">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findAccountsByGuidResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateClient">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateClient">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateClientResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createExternalAgency">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createExternalAgency">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createExternalAgencyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateProfile">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateProfile">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateProfileResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAgencyActiveYn">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateAgencyActiveYn">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateAgencyActiveYnResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findEntitlementsByAgency">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findEntitlementsByAgency">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findEntitlementsByAgencyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findBCRegistryProfile">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findBCRegistryProfile">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findBCRegistryProfileResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findProfile">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findProfile">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findProfileResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findExternalAgencyByAgencyId">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findExternalAgencyByAgencyId">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findExternalAgencyByAgencyIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccount">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAccount">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAccountResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createProfileWithPreference">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createProfileWithPreference">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createProfileWithPreferenceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createAccount">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createAccount">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createAccountResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClient">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getClient">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getClientResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findProfilesForAccount">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findProfilesForAccount">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findProfilesForAccountResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findProfilesByLastName">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findProfilesByLastName">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findProfilesByLastNameResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createLinkedBCRegAccountClient">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createLinkedBCRegAccountClient">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createLinkedBCRegAccountClientResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createEntitlements">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createEntitlements">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createEntitlementsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findBCOnlineProfiles">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findBCOnlineProfiles">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findBCOnlineProfilesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createProfile">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createProfile">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createProfileResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findProfilesByAnyName">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findProfilesByAnyName">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findProfilesByAnyNameResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findProfilesByNotifyFlag">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findProfilesByNotifyFlag">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findProfilesByNotifyFlagResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findProfilesForClient">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findProfilesForClient">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findProfilesForClientResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findProfiles">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findProfiles">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findProfilesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClientByGUID">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getClientByGUID">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getClientByGUIDResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNextAccountInternalKey">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getNextAccountInternalKey">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getNextAccountInternalKeyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNextOrderNumber">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getNextOrderNumber">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getNextOrderNumberResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateEntitlements">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateEntitlements">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateEntitlementsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findAgencyFilterEntitlements">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findAgencyFilterEntitlements">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findAgencyFilterEntitlementsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findClientsByNotifyFlag">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findClientsByNotifyFlag">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findClientsByNotifyFlagResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEntitlement">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createEntitlement">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createEntitlementResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NestedEjbException">
                <soap:fault name="NestedEjbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AccountFacade">
        <wsdl:port binding="tns:AccountFacadeSoapBinding" name="AccountFacadeBeanPort">
            <soap:address location="http://localhost:11530/csows/AccountFacade"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
