src/backend/libs/efiling-cso-starter/src/main/resources/wsdl/BCeIDService.wsdl

<wsdl:definitions targetNamespace="http://www.bceid.ca/webservices/Client/V9/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.bceid.ca/webservices/Client/V9/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.bceid.ca/webservices/Client/V9/">
            <s:element name="getInternalUserGroupInfo">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="internalUserGroupInfoRequest" type="tns:InternalUserGroupInfoRequest"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="InternalUserGroupInfoRequest">
                <s:complexContent mixed="false">
                    <s:extension base="tns:RequestBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="userId" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="userGuid" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="groupMatches" type="tns:ArrayOfBCeIDInternalGroupMatch"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType abstract="true" name="RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="onlineServiceId" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="requesterAccountTypeCode" type="tns:BCeIDAccountTypeCode"/>
                    <s:element maxOccurs="1" minOccurs="0" name="requesterUserId" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="requesterUserGuid" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="BCeIDAccountTypeCode">
                <s:restriction base="s:string">
                    <s:enumeration value="Void"/>
                    <s:enumeration value="Individual"/>
                    <s:enumeration value="VerifiedIndividual"/>
                    <s:enumeration value="Business"/>
                    <s:enumeration value="Internal"/>
                    <s:enumeration value="LDB"/>
                    <s:enumeration value="EDS"/>
                    <s:enumeration value="THS"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="ArrayOfBCeIDInternalGroupMatch">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="BCeIDInternalGroupMatch" nillable="true" type="tns:BCeIDInternalGroupMatch"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BCeIDInternalGroupMatch">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="groupName" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="groupGuid" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="getInternalUserGroupInfoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="getInternalUserGroupInfoResult" type="tns:InternalUserGroupInfoResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="InternalUserGroupInfoResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:ResponseBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="groupList" type="tns:ArrayOfBCeIDInternalGroup"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType abstract="true" name="ResponseBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="1" name="code" type="tns:ResponseCode"/>
                    <s:element maxOccurs="1" minOccurs="1" name="failureCode" type="tns:FailureCode"/>
                    <s:element maxOccurs="1" minOccurs="0" name="message" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="ResponseCode">
                <s:restriction base="s:string">
                    <s:enumeration value="Success"/>
                    <s:enumeration value="Failed"/>
                    <s:enumeration value="UnknownError"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="FailureCode">
                <s:restriction base="s:string">
                    <s:enumeration value="Void"/>
                    <s:enumeration value="NoResults"/>
                    <s:enumeration value="ExpectedResults"/>
                    <s:enumeration value="ArgumentException"/>
                    <s:enumeration value="AuthenticationException"/>
                    <s:enumeration value="ValidationException"/>
                    <s:enumeration value="AuthorizationException"/>
                    <s:enumeration value="Timeout"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="ArrayOfBCeIDInternalGroup">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="BCeIDInternalGroup" nillable="true" type="tns:BCeIDInternalGroup"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BCeIDInternalGroup">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="groupName" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="groupGuid" type="tns:BCeIDString"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BCeIDString">
                <s:complexContent mixed="false">
                    <s:extension base="tns:BCeIDPropertyBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="value" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="BCeIDPropertyBase">
                <s:attribute name="isAllowed" type="s:boolean" use="required"/>
            </s:complexType>
            <s:element name="searchBCeIDAccount">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="bceidAccountSearchRequest" type="tns:BCeIDAccountSearchRequest"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="BCeIDAccountSearchRequest">
                <s:complexContent mixed="false">
                    <s:extension base="tns:SearchRequestBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="sort" type="tns:SortOfSortBCeIDAccountOnProperty"/>
                            <s:element maxOccurs="1" minOccurs="0" name="accountMatch" type="tns:BCeIDAccountMatch"/>
                            <s:element maxOccurs="1" minOccurs="0" name="businessMatch" type="tns:BCeIDBusinessMatch"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="SearchRequestBase">
                <s:complexContent mixed="false">
                    <s:extension base="tns:RequestBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="pagination" type="tns:PaginationRequest"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="PaginationRequest">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="1" name="pageSizeMaximum" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="1" name="pageIndex" type="s:int"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="SortOfSortBCeIDAccountOnProperty">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="1" name="direction" type="tns:SortDirection"/>
                    <s:element maxOccurs="1" minOccurs="1" name="onProperty" type="tns:SortBCeIDAccountOnProperty"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="SortDirection">
                <s:restriction base="s:string">
                    <s:enumeration value="Void"/>
                    <s:enumeration value="Ascending"/>
                    <s:enumeration value="Descending"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="SortBCeIDAccountOnProperty">
                <s:restriction base="s:string">
                    <s:enumeration value="Void"/>
                    <s:enumeration value="UserId"/>
                    <s:enumeration value="Firstname"/>
                    <s:enumeration value="LastName"/>
                    <s:enumeration value="MiddleName1"/>
                    <s:enumeration value="MiddleName2"/>
                    <s:enumeration value="Email"/>
                    <s:enumeration value="Telephone"/>
                    <s:enumeration value="Department"/>
                    <s:enumeration value="KnownAs"/>
                    <s:enumeration value="BirthDate"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="BCeIDAccountMatch">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="userId" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="firstName" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="lastName" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="middleName1" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="middleName2" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="email" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="telephone" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="1" name="birthDate" nillable="true" type="s:dateTime"/>
                    <s:element maxOccurs="1" minOccurs="0" name="acctLuid" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="acctDluid" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="acctGuid" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="knownAs" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="department" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="1" name="searchableAccountType" type="tns:BCeIDSearchableAccountType"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="MatchPropertyOfString">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="value" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="matchPropertyUsing" type="tns:MatchPropertyUsing"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="MatchPropertyUsing">
                <s:restriction base="s:string">
                    <s:enumeration value="Exact"/>
                    <s:enumeration value="Contains"/>
                    <s:enumeration value="StartsWith"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="BCeIDSearchableAccountType">
                <s:restriction base="s:string">
                    <s:enumeration value="Void"/>
                    <s:enumeration value="Individual"/>
                    <s:enumeration value="VerifiedIndividual"/>
                    <s:enumeration value="Business"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="BCeIDBusinessMatch">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="businessGuid" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="luid" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="dluid" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="legalName" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="doingBusinessAs" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="businessNumber" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="1" name="searchableBusinessNumberVerified" type="tns:BCeIDSearchableBusinessNumberVerified"/>
                    <s:element maxOccurs="1" minOccurs="0" name="statementOfReg" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="incorporationNumber" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="jurisdictionOfIncorporation" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="1" name="searchableBusinessType" type="tns:BCeIDSearchableBusinessType"/>
                    <s:element maxOccurs="1" minOccurs="1" name="searchableBusinessState" type="tns:BCeIDSearchableBusinessState"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="BCeIDSearchableBusinessNumberVerified">
                <s:restriction base="s:string">
                    <s:enumeration value="DoNotSearch"/>
                    <s:enumeration value="SearchVerified"/>
                    <s:enumeration value="SearchNotVerified"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="BCeIDSearchableBusinessType">
                <s:restriction base="s:string">
                    <s:enumeration value="DoNotSearch"/>
                    <s:enumeration value="Proprietorship"/>
                    <s:enumeration value="Partnership"/>
                    <s:enumeration value="Corporation"/>
                    <s:enumeration value="ExtraProvinciallyRegisteredCompany"/>
                    <s:enumeration value="Other"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="BCeIDSearchableBusinessState">
                <s:restriction base="s:string">
                    <s:enumeration value="DoNotSearch"/>
                    <s:enumeration value="Suspended"/>
                    <s:enumeration value="NotSuspended"/>
                </s:restriction>
            </s:simpleType>
            <s:element name="searchBCeIDAccountResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="searchBCeIDAccountResult" type="tns:BCeIDAccountSearchResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="BCeIDAccountSearchResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:SearchResponseBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="accountList" type="tns:ArrayOfBCeIDAccount"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="SearchResponseBase">
                <s:complexContent mixed="false">
                    <s:extension base="tns:ResponseBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="pagination" type="tns:PaginationResponse"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="PaginationResponse">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="1" name="totalItems" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="1" name="totalVirtualItems" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="1" name="requestedPageSize" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="1" name="requestedPageIndex" type="s:int"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfBCeIDAccount">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="BCeIDAccount" nillable="true" type="tns:BCeIDAccount"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BCeIDAccount">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="guid" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="luid" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="dluid" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="bceidLuid" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="bceidDluid" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="userId" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="displayName" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="type" type="tns:BCeIDAccountType"/>
                    <s:element maxOccurs="1" minOccurs="0" name="state" type="tns:BCeIDAccountState"/>
                    <s:element maxOccurs="1" minOccurs="0" name="contact" type="tns:BCeIDAccountContact"/>
                    <s:element maxOccurs="1" minOccurs="0" name="individualIdentity" type="tns:BCeIDIndividualIdentity"/>
                    <s:element maxOccurs="1" minOccurs="0" name="business" type="tns:BCeIDBusiness"/>
                    <s:element maxOccurs="1" minOccurs="0" name="internalIdentity" type="tns:BCeIDInternalIdentity"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BCeIDAccountType">
                <s:complexContent mixed="false">
                    <s:extension base="tns:BCeIDTypeBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="1" name="code" type="tns:BCeIDAccountTypeCode"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType abstract="true" name="BCeIDTypeBase">
                <s:complexContent mixed="false">
                    <s:extension base="tns:BCeIDPropertyBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="name" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="description" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="BCeIDBNHubBusinessType">
                <s:complexContent mixed="false">
                    <s:extension base="tns:BCeIDTypeBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="1" name="code" type="tns:BCeIDBNHubBusinessTypeCode"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:simpleType name="BCeIDBNHubBusinessTypeCode">
                <s:restriction base="s:string">
                    <s:enumeration value="Void"/>
                    <s:enumeration value="Proprietorship"/>
                    <s:enumeration value="GeneralPartnership"/>
                    <s:enumeration value="Corporation"/>
                    <s:enumeration value="Other"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="BCeIDBusinessType">
                <s:complexContent mixed="false">
                    <s:extension base="tns:BCeIDTypeBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="1" name="code" type="tns:BCeIDBusinessTypeCode"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:simpleType name="BCeIDBusinessTypeCode">
                <s:restriction base="s:string">
                    <s:enumeration value="Void"/>
                    <s:enumeration value="Proprietorship"/>
                    <s:enumeration value="Partnership"/>
                    <s:enumeration value="Corporation"/>
                    <s:enumeration value="ExtraProvinciallyRegisteredCompany"/>
                    <s:enumeration value="Other"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="BCeIDAccountContactPreferenceType">
                <s:complexContent mixed="false">
                    <s:extension base="tns:BCeIDTypeBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="1" name="code" type="tns:BCeIDAccountContactPreferenceTypeCode"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:simpleType name="BCeIDAccountContactPreferenceTypeCode">
                <s:restriction base="s:string">
                    <s:enumeration value="Void"/>
                    <s:enumeration value="Email"/>
                    <s:enumeration value="Telephone"/>
                    <s:enumeration value="MailingAddress"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="BCeIDAccountState">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="expiryDateTime" type="tns:BCeIDDateTime"/>
                    <s:element maxOccurs="1" minOccurs="0" name="isSuspended" type="tns:BCeIDBoolean"/>
                    <s:element maxOccurs="1" minOccurs="0" name="isManagerDisabled" type="tns:BCeIDBoolean"/>
                    <s:element maxOccurs="1" minOccurs="0" name="isLocked" type="tns:BCeIDBoolean"/>
                    <s:element maxOccurs="1" minOccurs="0" name="passwordChangeRequired" type="tns:BCeIDBoolean"/>
                    <s:element maxOccurs="1" minOccurs="0" name="passwordHintsRequired" type="tns:BCeIDBoolean"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BCeIDDateTime">
                <s:complexContent mixed="false">
                    <s:extension base="tns:BCeIDPropertyBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="1" name="value" type="s:dateTime"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="BCeIDBoolean">
                <s:complexContent mixed="false">
                    <s:extension base="tns:BCeIDPropertyBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="1" name="value" type="s:boolean"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="BCeIDAccountContact">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="preference" type="tns:BCeIDAccountContactPreferenceType"/>
                    <s:element maxOccurs="1" minOccurs="0" name="email" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="telephone" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="address" type="tns:BCeIDAddress"/>
                    <s:element maxOccurs="1" minOccurs="0" name="preferredName" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="department" type="tns:BCeIDString"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BCeIDAddress">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="addressLine1" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="addressLine2" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="city" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="postal" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="province" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="country" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="unstructuredAddress" type="tns:BCeIDString"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BCeIDIndividualIdentity">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="name" type="tns:BCeIDName"/>
                    <s:element maxOccurs="1" minOccurs="0" name="dateOfBirth" type="tns:BCeIDDateTime"/>
                    <s:element maxOccurs="1" minOccurs="0" name="residentialAddress" type="tns:BCeIDAddress"/>
                    <s:element maxOccurs="1" minOccurs="0" name="mailingAddress" type="tns:BCeIDAddress"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BCeIDName">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="firstname" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="middleName" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="otherMiddleName" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="surname" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="initials" type="tns:BCeIDString"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BCeIDBusiness">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="guid" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="luid" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="dluid" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="type" type="tns:BCeIDBusinessType"/>
                    <s:element maxOccurs="1" minOccurs="0" name="legalName" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="businessNumber" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="businessNumberVerifiedFlag" type="tns:BCeIDBoolean"/>
                    <s:element maxOccurs="1" minOccurs="0" name="statementOfRegistrationNumber" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="incorporationNumber" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="jurisdictionOfIncorporation" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="doingBusinessAs" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="address" type="tns:BCeIDAddress"/>
                    <s:element maxOccurs="1" minOccurs="0" name="state" type="tns:BCeIDBusinessState"/>
                    <s:element maxOccurs="1" minOccurs="0" name="bnHubBusinessType" type="tns:BCeIDBNHubBusinessType"/>
                    <s:element maxOccurs="1" minOccurs="0" name="businessTypeOther" type="tns:BCeIDString"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BCeIDBusinessState">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="isSuspended" type="tns:BCeIDBoolean"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BCeIDInternalIdentity">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="title" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="company" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="organizationCode" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="department" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="office" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="description" type="tns:BCeIDString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="employeeId" type="tns:BCeIDString"/>
                </s:sequence>
            </s:complexType>
            <s:element name="searchInternalAccount">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="internalAccountSearchRequest" type="tns:InternalAccountSearchRequest"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="InternalAccountSearchRequest">
                <s:complexContent mixed="false">
                    <s:extension base="tns:SearchRequestBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="sort" type="tns:SortOfSortInternalAccountOnProperty"/>
                            <s:element maxOccurs="1" minOccurs="0" name="accountMatch" type="tns:InternalAccountMatch"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="SortOfSortInternalAccountOnProperty">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="1" name="direction" type="tns:SortDirection"/>
                    <s:element maxOccurs="1" minOccurs="1" name="onProperty" type="tns:SortInternalAccountOnProperty"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="SortInternalAccountOnProperty">
                <s:restriction base="s:string">
                    <s:enumeration value="Void"/>
                    <s:enumeration value="BCgovAccountType"/>
                    <s:enumeration value="UserId"/>
                    <s:enumeration value="FirstName"/>
                    <s:enumeration value="LastName"/>
                    <s:enumeration value="Initials"/>
                    <s:enumeration value="Email"/>
                    <s:enumeration value="Telephone"/>
                    <s:enumeration value="City"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="InternalAccountMatch">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="bCgovAccountType" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="userId" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="firstName" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="lastName" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="initials" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="email" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="telephone" type="tns:MatchPropertyOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="city" type="tns:MatchPropertyOfString"/>
                </s:sequence>
            </s:complexType>
            <s:element name="searchInternalAccountResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="searchInternalAccountResult" type="tns:InternalAccountSearchResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="InternalAccountSearchResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:SearchResponseBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="accountList" type="tns:ArrayOfBCeIDAccount"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="getAccountDetailList">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="accountDetailListRequest" type="tns:AccountDetailListRequest"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="AccountDetailListRequest">
                <s:complexContent mixed="false">
                    <s:extension base="tns:RequestBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="requestItemList" type="tns:ArrayOfAccountDetailListRequestItem"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfAccountDetailListRequestItem">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="AccountDetailListRequestItem" nillable="true" type="tns:AccountDetailListRequestItem"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="AccountDetailListRequestItem">
                <s:complexContent mixed="false">
                    <s:extension base="tns:AccountDetailRequest">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="clientKey" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="AccountDetailRequest">
                <s:complexContent mixed="false">
                    <s:extension base="tns:RequestBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="userId" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="userGuid" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="1" name="accountTypeCode" type="tns:BCeIDAccountTypeCode"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="getAccountDetailListResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="getAccountDetailListResult" type="tns:AccountDetailListResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="AccountDetailListResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:ResponseBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="responseItemList" type="tns:ArrayOfAccountDetailListResponseItem"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfAccountDetailListResponseItem">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="AccountDetailListResponseItem" nillable="true" type="tns:AccountDetailListResponseItem"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="AccountDetailListResponseItem">
                <s:complexContent mixed="false">
                    <s:extension base="tns:AccountDetailResponse">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="clientKey" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="AccountDetailResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:ResponseBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="account" type="tns:BCeIDAccount"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="getAccountDetail">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="accountDetailRequest" type="tns:AccountDetailRequest"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="getAccountDetailResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="getAccountDetailResult" type="tns:AccountDetailResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="createSubscriptionBatch">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="createSubscriptionBatchRequest" type="tns:CreateSubscriptionBatchRequest"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="CreateSubscriptionBatchRequest">
                <s:complexContent mixed="false">
                    <s:extension base="tns:RequestBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="batch" type="tns:BCeIDSubscriptionBatch"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="BCeIDSubscriptionBatch">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="batchNumber" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="createdOn" type="s:dateTime"/>
                    <s:element maxOccurs="1" minOccurs="0" name="createdBy" type="tns:BCeIDAccount"/>
                    <s:element maxOccurs="1" minOccurs="1" name="deletedOn" type="s:dateTime"/>
                    <s:element maxOccurs="1" minOccurs="0" name="description" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="type" type="tns:BCeIDSubscriptionCodeType"/>
                    <s:element maxOccurs="1" minOccurs="0" name="subscriptionList" type="tns:ArrayOfAnyType"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="BCeIDSubscriptionCodeType">
                <s:restriction base="s:string">
                    <s:enumeration value="Void"/>
                    <s:enumeration value="Regular"/>
                    <s:enumeration value="Registration"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="ArrayOfAnyType">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="anyType" nillable="true"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BCeIDSubscription">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="osKey" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="codeType" type="tns:BCeIDSubscriptionCodeType"/>
                    <s:element maxOccurs="1" minOccurs="0" name="subscriptionCode" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="batchNumber" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="1" name="batchItemNumber" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="1" name="scope" type="tns:BCeIDSubscriptionScope"/>
                    <s:element maxOccurs="1" minOccurs="0" name="question" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="answer" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="activationExpiryDate" type="s:dateTime"/>
                    <s:element maxOccurs="1" minOccurs="1" name="createdOnDateTime" type="s:dateTime"/>
                    <s:element maxOccurs="1" minOccurs="1" name="downloadDateTime" type="s:dateTime"/>
                    <s:element maxOccurs="1" minOccurs="0" name="account" type="tns:BCeIDAccount"/>
                    <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:BCeIDSubscriptionStatus"/>
                    <s:element maxOccurs="1" minOccurs="0" name="batchNumberString" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="batchItemNumberString" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="initialActivationPeriod" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="downloadDate" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="BCeIDSubscriptionScope">
                <s:restriction base="s:string">
                    <s:enumeration value="Business"/>
                    <s:enumeration value="Individual"/>
                    <s:enumeration value="Void"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="BCeIDSubscriptionStatus">
                <s:restriction base="s:string">
                    <s:enumeration value="NotActivated"/>
                    <s:enumeration value="Activated"/>
                    <s:enumeration value="Void"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="ArrayOfCreateSubscriptionBatchResponseItem">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="CreateSubscriptionBatchResponseItem" nillable="true" type="tns:CreateSubscriptionBatchResponseItem"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="CreateSubscriptionBatchResponseItem">
                <s:complexContent mixed="false">
                    <s:extension base="tns:ResponseBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="subscription" type="tns:BCeIDSubscription"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="createSubscriptionBatchResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="createSubscriptionBatchResult" type="tns:CreateSubscriptionBatchResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="CreateSubscriptionBatchResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:ResponseBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="responseItemList" type="tns:ArrayOfCreateSubscriptionBatchResponseItem"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="createAccountRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="createAccountRequestRequest" type="tns:CreateAccountRequestRequest"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="CreateAccountRequestRequest">
                <s:complexContent mixed="false">
                    <s:extension base="tns:RequestBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="accountRequest" type="tns:BCeIDAccountRequest"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="BCeIDAccountRequest">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="lastName" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="firstName" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="email" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="telephone" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="returnUrl" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="failureUrl" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="accountType" type="tns:BCeIDAccountType"/>
                </s:sequence>
            </s:complexType>
            <s:element name="createAccountRequestResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="createAccountRequestResult" type="tns:CreateAccountRequestResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="CreateAccountRequestResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:ResponseBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="requestNumber" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="getSubscriptionCodeList">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="subscriptionCodeListRequest" type="tns:SubscriptionCodeListRequest"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="SubscriptionCodeListRequest">
                <s:complexContent mixed="false">
                    <s:extension base="tns:RequestBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="userGuid" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfBCeIDSubscription">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="BCeIDSubscription" nillable="true" type="tns:BCeIDSubscription"/>
                </s:sequence>
            </s:complexType>
            <s:element name="getSubscriptionCodeListResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="getSubscriptionCodeListResult" type="tns:SubscriptionCodeListResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="SubscriptionCodeListResponse">
                <s:complexContent mixed="false">
                    <s:extension base="tns:ResponseBase">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="subscriptionList" type="tns:ArrayOfBCeIDSubscription"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="getInternalUserGroupInfoSoapIn">
        <wsdl:part element="tns:getInternalUserGroupInfo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getInternalUserGroupInfoSoapOut">
        <wsdl:part element="tns:getInternalUserGroupInfoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="searchBCeIDAccountSoapIn">
        <wsdl:part element="tns:searchBCeIDAccount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="searchBCeIDAccountSoapOut">
        <wsdl:part element="tns:searchBCeIDAccountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="searchInternalAccountSoapIn">
        <wsdl:part element="tns:searchInternalAccount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="searchInternalAccountSoapOut">
        <wsdl:part element="tns:searchInternalAccountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAccountDetailListSoapIn">
        <wsdl:part element="tns:getAccountDetailList" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAccountDetailListSoapOut">
        <wsdl:part element="tns:getAccountDetailListResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAccountDetailSoapIn">
        <wsdl:part element="tns:getAccountDetail" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAccountDetailSoapOut">
        <wsdl:part element="tns:getAccountDetailResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createSubscriptionBatchSoapIn">
        <wsdl:part element="tns:createSubscriptionBatch" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createSubscriptionBatchSoapOut">
        <wsdl:part element="tns:createSubscriptionBatchResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createAccountRequestSoapIn">
        <wsdl:part element="tns:createAccountRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createAccountRequestSoapOut">
        <wsdl:part element="tns:createAccountRequestResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getSubscriptionCodeListSoapIn">
        <wsdl:part element="tns:getSubscriptionCodeList" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getSubscriptionCodeListSoapOut">
        <wsdl:part element="tns:getSubscriptionCodeListResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="BCeIDServiceSoap">
        <wsdl:operation name="getInternalUserGroupInfo">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Internal User Group Membership Information</wsdl:documentation>
            <wsdl:input message="tns:getInternalUserGroupInfoSoapIn"/>
            <wsdl:output message="tns:getInternalUserGroupInfoSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="searchBCeIDAccount">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for all BCeID accounts.</wsdl:documentation>
            <wsdl:input message="tns:searchBCeIDAccountSoapIn"/>
            <wsdl:output message="tns:searchBCeIDAccountSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="searchInternalAccount">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for all internal accounts.</wsdl:documentation>
            <wsdl:input message="tns:searchInternalAccountSoapIn"/>
            <wsdl:output message="tns:searchInternalAccountSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="getAccountDetailList">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get details for a given list of accounts.</wsdl:documentation>
            <wsdl:input message="tns:getAccountDetailListSoapIn"/>
            <wsdl:output message="tns:getAccountDetailListSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="getAccountDetail">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get details for a given account.</wsdl:documentation>
            <wsdl:input message="tns:getAccountDetailSoapIn"/>
            <wsdl:output message="tns:getAccountDetailSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="createSubscriptionBatch">
            <wsdl:input message="tns:createSubscriptionBatchSoapIn"/>
            <wsdl:output message="tns:createSubscriptionBatchSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="createAccountRequest">
            <wsdl:input message="tns:createAccountRequestSoapIn"/>
            <wsdl:output message="tns:createAccountRequestSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="getSubscriptionCodeList">
            <wsdl:input message="tns:getSubscriptionCodeListSoapIn"/>
            <wsdl:output message="tns:getSubscriptionCodeListSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BCeIDServiceSoap" type="tns:BCeIDServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getInternalUserGroupInfo">
            <soap:operation soapAction="http://www.bceid.ca/webservices/Client/V9/getInternalUserGroupInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchBCeIDAccount">
            <soap:operation soapAction="http://www.bceid.ca/webservices/Client/V9/searchBCeIDAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchInternalAccount">
            <soap:operation soapAction="http://www.bceid.ca/webservices/Client/V9/searchInternalAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccountDetailList">
            <soap:operation soapAction="http://www.bceid.ca/webservices/Client/V9/getAccountDetailList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccountDetail">
            <soap:operation soapAction="http://www.bceid.ca/webservices/Client/V9/getAccountDetail" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createSubscriptionBatch">
            <soap:operation soapAction="http://www.bceid.ca/webservices/Client/V9/createSubscriptionBatch" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createAccountRequest">
            <soap:operation soapAction="http://www.bceid.ca/webservices/Client/V9/createAccountRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSubscriptionCodeList">
            <soap:operation soapAction="http://www.bceid.ca/webservices/Client/V9/getSubscriptionCodeList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BCeIDServiceSoap12" type="tns:BCeIDServiceSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getInternalUserGroupInfo">
            <soap12:operation soapAction="http://www.bceid.ca/webservices/Client/V9/getInternalUserGroupInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchBCeIDAccount">
            <soap12:operation soapAction="http://www.bceid.ca/webservices/Client/V9/searchBCeIDAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchInternalAccount">
            <soap12:operation soapAction="http://www.bceid.ca/webservices/Client/V9/searchInternalAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccountDetailList">
            <soap12:operation soapAction="http://www.bceid.ca/webservices/Client/V9/getAccountDetailList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccountDetail">
            <soap12:operation soapAction="http://www.bceid.ca/webservices/Client/V9/getAccountDetail" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createSubscriptionBatch">
            <soap12:operation soapAction="http://www.bceid.ca/webservices/Client/V9/createSubscriptionBatch" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createAccountRequest">
            <soap12:operation soapAction="http://www.bceid.ca/webservices/Client/V9/createAccountRequest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSubscriptionCodeList">
            <soap12:operation soapAction="http://www.bceid.ca/webservices/Client/V9/getSubscriptionCodeList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BCeIDService">
        <wsdl:port binding="tns:BCeIDServiceSoap" name="BCeIDServiceSoap">
            <soap:address location="https://gws1.test.bceid.ca/webservices/Client/V9/BCeIDService.asmx"/>
        </wsdl:port>
        <wsdl:port binding="tns:BCeIDServiceSoap12" name="BCeIDServiceSoap12">
            <soap12:address location="https://gws1.test.bceid.ca/webservices/Client/V9/BCeIDService.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>